  @font-face {
    src: url(../fonts/Lato-Bold.ttf);
    font-family: "lato bold";
}

@font-face {
    src: url(../fonts/Lato-Light.ttf);
    font-family: "lato light";
}


@font-face {
     src: url(../fonts/Lato-Regular.ttf);
     font-family: "lato regular";
}

@font-face {
    src: url(../fonts/EBGaramond-SemiBold.ttf);
    font-family: "garamond semibold";
}

* {
    box-sizing: border-box;
  }

  h3{
    font-family: "lato regular", "sans-serif";
    padding-bottom: 10px;
    font-size: 1.1em;
  }

  h4{
    font-family: "lato light", "sans-serif";
    padding-bottom: 20px;
    font-size: 1em;
    line-height: 1.5em;

  }


  h6{
    font-family: "lato regular", "sans-serif";
    font-size: 0.8em;
  }

  header{
background-color: #e7e7e7;
height: 580px;
  }
  
  h1{
font-size: 3.5em;
line-height: 1.2em;
font-family: "lato bold";
transition:hover 2s;

}
  h1:hover{
    font-size: 3.82em;
    line-height: 1.1em;
    font-family: "garamond semibold";
    cursor: alias;
  }


  .hi{
      padding-top: 80px;
      padding-left: 10vw;
      padding-bottom: 80px;
  }


  .stiky{
    position: sticky;
    top: 0;     
  }

  nav {
    display: flex;
    justify-content: left;
    align-items: center;      
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #e7e7e7;
  }
  
  .brand{
    padding-left: 3vw;
    padding-top: 8px;
  }
  
  .menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  
  .tags1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    padding-left: 1vw;
    }

  .tags2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    }




  a {
    color: #242424;
    text-decoration: none;
    font-family: "lato regular", "sans-serif";
    font-size: 1em;
  }

  .bold{
      font-family: "lato bold";
  }
  
  a:hover {
    color: #2429AF;
  }

 
  main
{
    background-color: #F6F6F6;
}

.container{
    width: 80vw;    
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

  .project{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  .thumnail{
    width: 40vw;
  }

  .titles {
    padding-top: 50px;
    width: 40vw;
    padding-left: 40px;
    height: 300px;
  }


.showmore{  
    text-decoration:none;
    color:#242424;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #242424;
    margin-top: 30px;
    }

/*
  .showmore:hover{
    border-color: #2429AF;
  }
*/

  footer{
    background-color: #e7e7e7;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .sign {
      padding-left: 10vw;
      color: #2429AF;
  }